main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & header {
    margin-bottom: 56px;
    & h3 {
      font: var(--subtitle);
      color: var(--red);
    }

    & h2 {
      font: var(--title-md);
      color: var(--gray-600);
      margin-top: 8px;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  & figure {
    width: 330px;
    height: 280px;
    background-color: var(--gray-300);
    border-radius: 12px;
    padding: 12px;

    & img {
      width: 306px;
      height: 156px;
      border-radius: 8px;
      margin-bottom: 20px;
    }

    & p {
      font: var(--title-sm);
      color: var(--gray-600);
      margin-bottom: 8px;
    }
    & span {
      font: var(--text-sm);
      color: var(--gray-500);
    }
  }
}